{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
<title>Store</title>
{% endblock title_page %}
{% block content %}
<section class="main-section paddind" id="Portfolio">
    <!--main-section-start-->
    <div class="container">
        <h2>Store</h2>
        <h6>We have a large assortment of products.</h6>
        <div class="portfolioFilter">
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li><a href="#" data-filter="*" class="current">All</a></li>
                <li><a href="#" data-filter=".branding">Smartphones</a></li>
                <li><a href="#" data-filter=".webdesign">Laptops</a></li>
                <li><a href="#" data-filter=".printdesign">Computers</a></li>
                <li><a href="#" data-filter=".photography">Accessories</a></li>
            </ul>
        </div>

    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
        {% for post in pr %}
			{% if post.availability %}
				{% if post.group == "smartphone" %}
				<div class=" Portfolio-box branding">
					<a href="img/Portfolio-pic3.jpg"><img src="{{ post.img.url }}" alt=""></a>
					<h3>{{ post.name }}</h3>
					<p>Price: {{ post.price }} $</p>
				</div>
				{% elif post.group == "pc" %}
				<div class=" Portfolio-box printdesign">
					<a href="img/Portfolio-pic1.jpg"><img src="{{ post.img.url }}" alt=""></a>
					<h3>{{ post.name }}</h3>
					<p>Price: {{ post.price }} $</p>
				</div>
				{% elif post.group == "laptop" %}
				<div class="Portfolio-box webdesign">
					<a href="img/Portfolio-pic2.jpg"><img src="{{ post.img.url }}" alt=""></a>
					<h3>{{ post.name }}</h3>
					<p>Price: {{ post.price }} $</p>
				</div>
				{% else %}
				<div class=" Portfolio-box photography">
					<a href="img/Portfolio-pic4.jpg"><img src="{{ post.img.url }}" alt=""></a>
					<h3>{{ post.name }}</h3>
					<p>Price: {{ post.price }} $</p>
				</div>
				{% endif %}
			{% endif %}
        {% endfor %}
    </div>
</section>
{% endblock content %}